/* All page  */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* main styling*/

html,body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.7em;
	background-color: rgb(30,123,132);
}

a{
	color: #333;
	text-decoration: none;
}

h1, h2 ,h3 {
	padding-bottom: 20px;
}

p {
	margin: 10px 0;
	line-height: 65px;

}

/* Utility Classes */

.container {
	margin: auto;
	max-width: 1100px;
	overflow: auto;
	padding: 0 20px;
}

/*Navbar*/

#navbar{
	background: #333;
	color: #fff;
	overflow: auto;

}

#navbar a {
	color: #fff;

}
#navbar h1 {
	float: left;
	padding-top: 20px;
}

#navbar ul{
	list-style: none;
	float: right;
}

#navbar ul li {
	float: left;

}

#navbar ul li a {
	display: block;
	padding: 20px;
	text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current
 {
	background: #444;
	color: #f7c08a;
}
.main-body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 40px;
	text-align: center;
	margin-top: 120px;
	margin-bottom:70px;
	color: rgb(48, 23, 12);
	
}
.btn{
	display: block;
	padding: 30px;
	text-align: center;
	
	
}
.signin{
	margin-right: 20px;
	border: none;
	padding: 10px;
	background: #49c1a2;
	color: #fff;
	cursor: pointer;
	width: 120px;
}
.signin:hover{
	color:black;
	background: #014b38;
}
